{% extends "base.html" %}
{% block title %}
我的上传
{% endblock %}

{% block body %}
<!-- main content -->
<div class="container">
	<div class="row">
		<hr />
		<iframe src="/manage/myresource" width="100%" scrolling="no" frameborder="0" onload="this.height=this.contentWindow.document.documentElement.scrollHeight">
		</iframe>
		<hr />
		<iframe src="/manage/allresources" width="100%" scrolling="no" frameborder="0" onload="this.height=this.contentWindow.document.documentElement.scrollHeight">
	</div>
</div>
{% endblock %}

{% block script %}
{% endblock %}