{% extends "base.html" %}
{% block header %}
<link href="/static/css/resource.css" rel="stylesheet" />
{% endblock%}
{% block body %}
    <!-- /.container -->
	<div class="container">
		
		<input type="hidden" name="logined" id="logined" value="{{ logined }}" />

		<div style="height:10px"></div>
		<div class="row">
			<!-- 系列 -->
			<div style="height:100%; width:100%">
				<div class="btn-group">
					<button id="group-button" type="button" class="btn btn-primary dropdown-toggle" 
						data-toggle="dropdown">组别
						<span class="caret"></span>
					</button>
					<input type="hidden" id="groupid" value="-" />
					<ul id="group-dropdown" class="dropdown-menu dropdown-menu-inverse" role="menu">
						<li>
							<a id="groupstitle" onclick="selectActiveIt(this)">全部</a>
							<input type="hidden" value="-" />
						</li>
						<li class="divider"></li>
						{% for pg in groups %}
						<li>
							<a id="groupstitle" onclick="selectActiveIt(this)">{{ pg.title }}</a>
							<input type="hidden" value="{{ pg.id }}" />
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="btn-group">
					<button id="series-button" type="button" class="btn btn-primary dropdown-toggle" 
						data-toggle="dropdown">系列
						<span class="caret"></span>
					</button>
					<input type="hidden" id="seriesid" value="-" />
					<ul id="series-dropdown" class="dropdown-menu dropdown-menu-inverse" role="menu">
						<li>
							<a id="seriestitle" onclick="selectActiveIt(this)">全部</a>
							<input type="hidden" value="-" />
						</li>
						<li class="divider"></li>
					</ul>
				</div>
			</div>
			<!-- 节目 -->
			<div id="resource-content">
				<div class="p" style="height:100%; width:100%">
					<ul id="res-list" class="list-group" style="height:100%; width:100%">
					</ul>
					<table id="res-table" class="table table-striped table-hover">
						<thead id="res-thead">
							<tr>
								<th><a id="th-title" onclick="sort(this)" href="#">名称（点击可排序）</a></th>
								<th><a id="th-group" onclick="sort(this)" href="#">组别</a></th>
								<th><a id="th-series" onclick="sort(this)" href="#">系列</a></th>
								<th><a id="th-recorder" onclick="sort(this)" href="#">播音人</a></th>
								<th><a id="th-create_time" onclick="sort(this)" href="#">上传时间</a></th>
								<th></th>
							</tr>
						</thead>
						<tbody id="res-tbody">
						</tbody>
					</table>
				</div>
			</div>
			
			<!-- 翻页 -->
			<div class="pagination pagination-primary" style="height:100%; width:100%">
				<ul id="page-list" style="float:right">
				</ul>
			</div>
		</div>
	</div>

{% endblock %}
{% block script %}
	<script>
	var pids = new Array();
	var index = 0;
	var pictureIndex = 1;
	var perPage = 20;
	var srs = new Array();
		$(document).ready(function(){
			var keyword="";
			var gid="-";
			var sid="-";
			var url=document.location.href;
/*			var test1="清韵烛光";
			alert(test1);
			test1=escape(test1);
			alert(test1);
			test1=unescape(test1);
			alert(test1);
*/
			if (url.indexOf("?")!=-1) {
				var arrStr=url.substring(url.indexOf("?")+1).split("&");
				for (var i=0; i<arrStr.length; i++) {
					if (arrStr[i].indexOf("keyword=")!=-1)
						keyword=arrStr[i].replace("keyword=", "");
					if (arrStr[i].indexOf("gid=")!=-1)
						gid=arrStr[i].replace("gid=", "");
					if (arrStr[i].indexOf("sid=")!=-1)
						sid=arrStr[i].replace("sid=", "");
				}
			}
			$.ajax({
			  url:'/resource/filter/',
			  type:"GET",
			  data:{'groupid':gid, 'seriesid':sid, 'keyword':unescape(unescape(keyword))},
				dataType:"json"
			}).done(function(msg){
				pids = msg.pid;
				srs = msg.srs;
				var x=document.getElementById("series-dropdown");
				x.innerHTML="";
				var xli=document.createElement("li");
				x.appendChild(xli);
				var xa=document.createElement("a");
				xa.setAttribute("id", "seriestitle");
				xa.setAttribute("onclick", "selectActiveIt(this)");
				xa.innerHTML="全部";
				xli.appendChild(xa);
				var xinput=document.createElement("input");
				xinput.setAttribute("type", "hidden");
				xinput.setAttribute("value", "-");
				xli.appendChild(xinput);
				for (var i=0;i<srs.length;i++) {
					var li=document.createElement("li");
					x.appendChild(li);
					var a=document.createElement("a");
					a.setAttribute("id", "seriestitle");
					a.setAttribute("onclick", "selectActiveIt(this)");
					a.innerHTML=srs[i].title;
					li.appendChild(a);
					var input=document.createElement("input");
					input.setAttribute("type", "hidden");
					input.setAttribute("value", srs[i].id);
					li.appendChild(input);
				}
				var count=parseInt((pids.length-1)/perPage+1);
				document.getElementById("page-list").innerHTML="";
				if (count>1) {
					var linode=document.createElement("li");
					linode.setAttribute("class", "previous");
					var anode=document.createElement("a");
					anode.setAttribute("href", "#");
					anode.setAttribute("class", "fui-arrow-left");
					anode.setAttribute("onclick", "prePage(this)");
					linode.appendChild(anode);
					document.getElementById("page-list").appendChild(linode);
					for (var i=1;i<=count;i++) {
						var linode=document.createElement("li");
						var anode=document.createElement("a");
						anode.innerHTML=i;
						anode.setAttribute("href", "#");
						anode.setAttribute("onclick", "selectPage(this)");
						linode.appendChild(anode);
						document.getElementById("page-list").appendChild(linode);
					}
					var linode=document.createElement("li");
					linode.setAttribute("class", "previous");
					var anode=document.createElement("a");
					anode.setAttribute("href", "#");
					anode.setAttribute("class", "fui-arrow-right");
					anode.setAttribute("onclick", "nextPage(this)");
					linode.appendChild(anode);
					document.getElementById("page-list").appendChild(linode);
				}
				showResource();
			}).fail(function(jqXHR,textStatus){
			});
		});
		function showResource() {
			var subpids = new Array();
			var len;
			if (pids.length-index > perPage) {
				len = perPage;
			} else {
				len = pids.length-index;
			}
			for (var i=0;i < len;i++) {
				subpids[i]=pids[i+index];
			}
			$.ajax({
			  url:'/resource/getarr/',
			  type:"POST",
			  data:{'pid':subpids},
				dataType:"json"
			}).done(function(msg){
//				document.getElementById("res-list").innerHTML="";
				document.getElementById("res-tbody").innerHTML="";
			  	for (var i=0;i<len;i++) {
					var tr=document.createElement("tr");
					tr.setAttribute("value", pids[i+index]);
					document.getElementById("res-tbody").appendChild(tr);
					var td_title=document.createElement("td");
					tr.appendChild(td_title);
					var a=document.createElement("a");
					a.innerHTML=msg.program[i].title;
					a.href="/program/"+pids[i+index];
					td_title.appendChild(a);
					var td_group=document.createElement("td");
					tr.appendChild(td_group);
					var a_group=document.createElement("a");
					a_group.innerHTML=msg.program[i].group;
					a_group.href="/resource/?gid="+msg.program[i].group_id;
					td_group.appendChild(a_group);
					var td_series=document.createElement("td");
					tr.appendChild(td_series);
					var a_series=document.createElement("a");
					a_series.innerHTML=msg.program[i].series;
					a_series.href="/resource/?sid="+msg.program[i].series_id;
					td_series.appendChild(a_series);
					var td_recorder=document.createElement("td");
					td_recorder.innerHTML=msg.program[i].recorder;
					tr.appendChild(td_recorder);
					var td_create_time=document.createElement("td");
					td_create_time.innerHTML=msg.program[i].create_time;
					tr.appendChild(td_create_time);
					var td=document.createElement("td");
					tr.appendChild(td);
					var tddiv=document.createElement("div")
					td.appendChild(tddiv);
					var playbutton=document.createElement("a");
					if (msg.program[i].medialink) {
						playbutton.setAttribute("class", "btn btn-xs");
						playbutton.setAttribute("onclick", "play(" + msg.program[i].id + ")");
					} else {
						playbutton.setAttribute("class", "btn btn-xs disabled");
					}
					playbutton.setAttribute("title", "播放");
					playbutton.setAttribute("role", "button");
					tddiv.appendChild(playbutton);
					var playspan=document.createElement("span");
					playspan.setAttribute("class", "glyphicon glyphicon-play");
					playbutton.appendChild(playspan);
					
					var addbutton=document.createElement("a");
					if (msg.program[i].medialink) {
						addbutton.setAttribute("class", "btn btn-xs");
						addbutton.setAttribute("onclick", "add(" + msg.program[i].id + ")");
					} else {
						addbutton.setAttribute("class", "btn btn-xs disabled");
					}
					addbutton.setAttribute("title", "添加到播放列表");
					addbutton.setAttribute("role", "button");
					tddiv.appendChild(addbutton);
					var plusspan=document.createElement("span");
					plusspan.setAttribute("class", "glyphicon glyphicon-plus");
					addbutton.appendChild(plusspan);
					
					var zanbutton=document.createElement("a");
					zanbutton.setAttribute("role", "button");
					zanbutton.setAttribute("onclick", "zan(this)");
					if ($("#logined").val()=="True") {
						zanbutton.setAttribute("class", "btn btn-xs");
						zanbutton.setAttribute("title", "点赞")
						if (msg.program[i].have_praised) {
							zanbutton.setAttribute("style", "color:red");
							zanbutton.setAttribute("praised", "true");
						} else {
							zanbutton.setAttribute("praised", "false");
						}
					} else {
						zanbutton.setAttribute("class", "btn btn-xs disabled");
						zanbutton.setAttribute("title", "登陆后可以点赞")
					}
					tddiv.appendChild(zanbutton);
					var zanspan=document.createElement("span");
					zanspan.setAttribute("class", "glyphicon glyphicon-thumbs-up");
					zanspan.innerHTML=msg.program[i].praise_count;
					zanbutton.appendChild(zanspan);
				}
			}).fail(function(jqXHR,textStatus){
			  $('#getarr_show').html('request failed '+ textStatus);
			});
		}
		function activeIt(x) {
			if (!x) return;
			var xClassName = x.className;
			if (xClassName.length == 0) {
				x.className = xClassName;
				return;
			}
			if (xClassName == "active" || xClassName.match(new RegExp("(^|\\s)" + "active" + "(\\s|$)"))) 
				return;
			x.className = xClassName + " " + "active";
		}
		function deactiveIt(x) {
			if (!x) return;
			var xClassName = x.className;
			if (xClassName.length == 0)
				return;
			if (xClassName == "active") {
				x.className = "";
				return;
			}
			if (xClassName.match(new RegExp("(^|\\s)" + "active" + "(\\s|$)"))) 
				x.className = xClassName.replace((new RegExp("(^|\\s)" + "active" + "(\\s|$)")),""); 
		}
		function selectActiveIt(x) {
			var groupid;
			var seriesid;
			if (x.id=="groupstitle") {
				groupid=$(x).next().attr("value");
				seriesid="-";
				document.getElementById("series-button").innerHTML="系列<span class='caret'></span>";
				document.getElementById("seriesid").setAttribute("value", "-");
				if (x.innerHTML=="全部") {
					document.getElementById("group-button").innerHTML="组别<span class='caret'></span>";
					document.getElementById("groupid").setAttribute("value", "-");
				} else {
					document.getElementById("group-button").innerHTML=x.innerHTML+"<span class='caret'></span>";
					document.getElementById("groupid").setAttribute("value", groupid);
				}
			} else if (x.id=="seriestitle") {
				groupid=$("#groupid").attr("value");
				seriesid=$(x).next().attr("value");
				if (x.innerHTML=="全部") {
					document.getElementById("series-button").innerHTML="系列<span class='caret'></span>";
					document.getElementById("seriesid").setAttribute("value", "-");
				} else {
					document.getElementById("series-button").innerHTML=x.innerHTML+"<span class='caret'></span>";
					document.getElementById("seriesid").setAttribute("value", seriesid);
				}
			}
			$.ajax({
			  url:'/resource/filter/',
			  type:"GET",
			  data:{'groupid':groupid, 'seriesid':seriesid},
				dataType:"json"
			}).done(function(msg){
				pids = msg.pid;
				srs = msg.srs;
				var x=document.getElementById("series-dropdown");
				x.innerHTML="";
				var xli=document.createElement("li");
				x.appendChild(xli);
				var xa=document.createElement("a");
				xa.setAttribute("id", "seriestitle");
				xa.setAttribute("onclick", "selectActiveIt(this)");
				xa.innerHTML="全部";
				xli.appendChild(xa);
				var xinput=document.createElement("input");
				xinput.setAttribute("type", "hidden");
				xinput.setAttribute("value", "-");
				xli.appendChild(xinput);
				for (var i=0;i<srs.length;i++) {
					var li=document.createElement("li");
					x.appendChild(li);
					var a=document.createElement("a");
					a.setAttribute("id", "seriestitle");
					a.setAttribute("onclick", "selectActiveIt(this)");
					a.innerHTML=srs[i].title;
					li.appendChild(a);
					var input=document.createElement("input");
					input.setAttribute("type", "hidden");
					input.setAttribute("value", srs[i].id);
					li.appendChild(input);
				}
				var count=parseInt((pids.length-1)/perPage+1);
				document.getElementById("page-list").innerHTML="";
				if (count>1) {
					var linode=document.createElement("li");
					linode.setAttribute("class", "previous");
					var anode=document.createElement("a");
					anode.setAttribute("href", "#");
					anode.setAttribute("class", "fui-arrow-left");
					anode.setAttribute("onclick", "prePage(this)");
					linode.appendChild(anode);
					document.getElementById("page-list").appendChild(linode);
					for (var i=1;i<=count;i++) {
						var linode=document.createElement("li");
						var anode=document.createElement("a");
						anode.innerHTML=i;
						anode.setAttribute("href", "#");
						anode.setAttribute("onclick", "selectPage(this)");
						linode.appendChild(anode);
						document.getElementById("page-list").appendChild(linode);
					}
					var linode=document.createElement("li");
					linode.setAttribute("class", "previous");
					var anode=document.createElement("a");
					anode.setAttribute("href", "#");
					anode.setAttribute("class", "fui-arrow-right");
					anode.setAttribute("onclick", "nextPage(this)");
					linode.appendChild(anode);
					document.getElementById("page-list").appendChild(linode);
				}
				index=0;
				showResource();
			}).fail(function(jqXHR,textStatus){
			});
		}
		function nextPage(x) {
			if (index+perPage<pids.length) {
				index=index+perPage;
				showResource();
			}
		}
		function prePage(x) {
			if (index-perPage>=0) {
				index=index-perPage;
				showResource();
			}
		}
		function selectPage(x) {
			index=(x.innerHTML-1)*perPage;
			showResource();
		}
		function sort(x) {
			var xid=$(x).attr("id");
			var sortarg=xid.replace((new RegExp("th")), "");
			var newid;
			if (xid.match(new RegExp("th-"))) {
				newid=xid.replace((new RegExp("th-")), "th");
			} else {
				newid=xid.replace((new RegExp("th")), "th-");
			}
			x.setAttribute("id", newid);
			$.ajax({
				url:'/resource/sort/',
				type:"GET",
				data:{'pid':pids, 'sort':sortarg},
				dataType:"json"
			}).done(function(msg) {
				pids = msg.pid;
				showResource();
			}).fail(function(jqXHR, textStatus) {
			});
		}
		function zan(x) {
			if ($(x).attr("praised") == "true") {
				$.ajax({
					url:'/program/unpraise/',
					type:"POST",
					data:{'pid':$(x).parent().parent().parent().attr("value")},
					dataType:"json"
				}).done(function(msg) {
					if (msg.success) {
						$(x).css("color", "#875f9a");
						$(x).attr("praised", "false");
						$(x).children().html(msg.count);
					}
				}).fail(function(jqXHR, textStatus) {
				});
			} else {
				$.ajax({
					url:'/program/praise/',
					type:"POST",
					data:{'pid':$(x).parent().parent().parent().attr("value")},
					dataType:"json"
				}).done(function(msg) {
					if (msg.success) {
						$(x).css("color", "#f00");
						$(x).attr("praised", "true");
						$(x).children().html(msg.count);
					}
				}).fail(function(jqXHR, textStatus) {
				});
			}
		}
		
	function play(pgid) {
		$.ajax({
			url:'/program/get/',
			type:'GET',
			data:{'pid':pgid},
			dataType:'json'
		}).done(function(msg) {
			changeLocalStorageToPlayer("top", "local", 1, msg.program);
		}).fail(function(jqXHR, textStatus) {
		});
		if((localStorage.hasPlayer == 0 || localStorage.hasPlayer == null)) {
			window.open("/program/play/", "_blank");
		}
	}
	
	function add(pgid) {
		$.ajax({
			url:'/program/get/',
			type:'get',
			data:{'pid':pgid},
			dataType:'json'
		}).done(function(msg) {
			changeLocalStorageToPlayer("top", "local", 0, msg.program);
		}).fail(function(jqXHR, textStatus) {
		});
		if((localStorage.hasPlayer == 0 || localStorage.hasPlayer == null)) {
			window.open("/program/play/", "_blank");
		}
	}
	
	function changeLocalStorageToPlayer(location, list, play, info) {
		var program = new Object();
		var d = new Date();
		program.time = d.getTime();
		program.id = info.id;
		program.url = info.medialink;
		program.description = info.description;
		program.title = info.title;
		if(info.piclink)
			program.thumbnail = info.piclink;
		else
			program.thumbnail = null;
		program.play = play;
		program.location = location;
		program.list = list;
		localStorage.toPlayer = JSON.stringify(program);
	}

	</script>

{% endblock %}
