<html>
<head>
<title>Sign In</title>
<script type="text/javascript" src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js" ></script>
<script>
$(document).ready(function(){
  $('#signin_submit').click(function(){
    $.ajax({
      url:'/signin/do/',
      type:"POST",
      data:{email:$("#email").val(), nickname:$("#nickname").val(), password:$("#password").val(), password2:$("#password2").val()},
      dataType:"json"
    }).done(function(msg){
      $('#show').text(msg.info).show();
    }).fail(function(jqXHR,textStatus){
      $('#show').html('request failed '+textStatus);
    });
  });
  $('#email').blur(function(){
    $.ajax({
      url:'/signin/judge/',
      type:"POST",
      data:{key:$("#email").val(), ptype:"email"},
      dataType:"json"
    }).done(function(msg){
        info = ""
        if (msg.exist == "true")
            info = "邮箱已存在，请重新输入"
        $('#show').text(info).show();
    }).fail(function(jqXHR,textStatus){
      $('#show').html('request failed '+textStatus);
    });
  });
  $('#nickname').blur(function(){
    $.ajax({
      url:'/signin/judge/',
      type:"POST",
      data:{key:$("#nickname").val(), ptype:"nickname"},
      dataType:"json"
    }).done(function(msg){
        info = ""
        if (msg.exist == "true")
            info = "昵称已存在，请重新输入"
        $('#show').text(info).show();
    }).fail(function(jqXHR,textStatus){
      $('#show').html('request failed '+textStatus);
    });
  });
});
</script>
<script>
$(document).ajaxSend(function(event, xhr, settings) {  
    function getCookie(name) {  
        var cookieValue = null;  
        if (document.cookie && document.cookie != '') {  
            var cookies = document.cookie.split(';');  
            for (var i = 0; i < cookies.length; i++) {  
                var cookie = jQuery.trim(cookies[i]);  
                // Does this cookie string begin with the name we want?  
                if (cookie.substring(0, name.length + 1) == (name + '=')) {  
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));  
                    break;  
                }  
            }  
        }  
        return cookieValue;  
    }  
    function sameOrigin(url) {  
        // url could be relative or scheme relative or absolute  
        var host = document.location.host; // host + port  
        var protocol = document.location.protocol;  
        var sr_origin = '//' + host;  
        var origin = protocol + sr_origin;  
        // Allow absolute or scheme relative URLs to same origin  
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||  
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||  
            // or any other URL that isn't scheme relative or absolute i.e relative.  
            !(/^(\/\/|http:|https:).*/.test(url));  
    }  
    function safeMethod(method) {  
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));  
    }  
  
    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {  
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));  
    }  
});
</script>
</head>
<body>
  <p>登录</p>
    {% csrf_token %}
    邮箱<input type="text" id="email" name="email"/><br/>
    昵称<input type="text" id="nickname" name="nickname"/><br/>
    密码<input type="password" id="password" name="password"/><br/>
    确认密码<input type="password" id="password2" name="password2"/><br/>
    <input type="button" id="signin_submit" value="登录" />
    <div id="show"></div>
</body>
</html>

