<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="height:100%; width:100%">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title>{% block title %}清华大学广播站{% endblock %}</title>
<!-- Loading Bootstrap -->
<link href="/static/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/static/dist/css/flat-ui.min.css" rel="stylesheet" />
<link href="/static/dist/css/docs.min.css" rel="stylesheet" />
<link href="/static/css/waterflow.css" rel="stylesheet" />
{% block header %}{% endblock %}
</head>
<body>
<!-- main content -->
{% include "useraccess.html" %}
{% block navigation %}{% include "navigation.html" %}{% endblock %}
{% block body %}<span>&lt;empty&gt;</span>{% endblock %}
{% block footer %}{% endblock %}
<!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
<script src="/static/dist/js/vendor/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/dist/js/flat-ui.min.js"></script>
<script src="/static/dist/js/docs.min.js"></script>
<script src="/static/js/csrfajax.js"></script>
{% if not request.session.uid %}
<script src="/static/js/login.js"></script>
{% endif %}
{% block script %}{% endblock %}
</body>
</html>