<!-- navbar -->
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
		  <span class="sr-only">Toggle navigation</span>
		</button>
		<a class="navbar-brand" href="/">清华大学广播站</a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-01">
		<ul class="nav navbar-nav">
		  <li><a href="/index/">首页</a></li>
		  <li><a href="/resource/">资源</a></li>
		</ul>
		<form class="navbar-form navbar-right" action="/resource/result/" method="get" role="search">
		  <div class="form-group" id="user-info">
		    <button type="button" id="login" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">登录</button>
		    <button type="button" id="register" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">注册</button>
		  </div>
		  <div class="form-group">
			<div class="input-group">
			  <input class="form-control" id="navbarInput-01" name="wd" type="search" placeholder="Search">
			  <span class="input-group-btn">
				<button type="submit" class="btn" style="margin-left:0px;"><span class="fui-search"></span></button>
			  </span>
			</div>
		  </div>
		</form>
	</div><!-- /.navbar-collapse -->
</nav>