<html>
<head>
<title>AJAX test</title>
<script type="text/javascript" src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js" ></script>
<script>
$(document).ready(function(){
  $('#input').keyup(function(){
    $.ajax({
      url:'/ajaxtest/getresult/',
      type:"POST",
      data:{input:$("#input").val()},
        dataType:"html"
    }).done(function(msg){
      $('#show').html(msg).show();
    }).fail(function(jqXHR,textStatus){
      $('#show').html('request failed '+textStatus);
    });
  });
});
</script>
<script>
$(document).ajaxSend(function(event, xhr, settings) {  
    function getCookie(name) {  
        var cookieValue = null;  
        if (document.cookie && document.cookie != '') {  
            var cookies = document.cookie.split(';');  
            for (var i = 0; i < cookies.length; i++) {  
                var cookie = jQuery.trim(cookies[i]);  
                // Does this cookie string begin with the name we want?  
                if (cookie.substring(0, name.length + 1) == (name + '=')) {  
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));  
                    break;  
                }  
            }  
        }  
        return cookieValue;  
    }  
    function sameOrigin(url) {  
        // url could be relative or scheme relative or absolute  
        var host = document.location.host; // host + port  
        var protocol = document.location.protocol;  
        var sr_origin = '//' + host;  
        var origin = protocol + sr_origin;  
        // Allow absolute or scheme relative URLs to same origin  
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||  
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||  
            // or any other URL that isn't scheme relative or absolute i.e relative.  
            !(/^(\/\/|http:|https:).*/.test(url));  
    }  
    function safeMethod(method) {  
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));  
    }  
  
    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {  
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));  
    }  
});
</script>
</head>
<body>
  <h1>AJAX test</h1>
  <p>发送到服务器端计算MD5值</p>
  <form id="form" method="post">
    {% csrf_token %}
    <input type="text" id="input" />
  </form>
  <div id="show"></div>
</body>
</html>