<html>
<head>
<title>Log In</title>
<script type="text/javascript" src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js" ></script>
<script>
$(document).ready(function(){
  $('#login_submit').click(function(){
    $('#login_status').html("");
    $.ajax({
      url:'/login/do/',
      type:"POST",
      data:{email:$("#email").val(),password:$("#password").val()},
        dataType:"json"
    }).done(function(msg){
      $('#show').text(msg.result).show();
    }).fail(function(jqXHR,textStatus){
      $('#show').html('request failed '+textStatus);
    });
  });
  $('#logout_button').click(function(){
    $.ajax({
      url:'/login/logout/',
      type:"GET",
      data:{},
        dataType:"json"
    }).done(function(msg){
      $('#show').text(msg.result).show();
    }).fail(function(jqXHR,textStatus){
      $('#show').html('request failed '+textStatus);
    });
  });
    $.ajax({
      url:'/login/test/',
      type:"GET",
      data:{},
        dataType:"json"
    }).done(function(msg){
      $('#login_status').text(msg.result).show();
    }).fail(function(jqXHR,textStatus){
      $('#login_status').html('request failed '+textStatus);
    });
});
</script>
</head>
<body>
  <p>登录</p>
    {% csrf_token %}
    <div>
        <span>邮箱</span><input type="text" id="email" /><br/>
        <span>密码</span><input type="password" id="password" /><br/>
        <button type="button" id="login_submit">登录</button>
        <button type="button" id="logout_button">登出</button>
    </div>
    <label id="login_status"></label>
    <label id="show"></label>
</body>
</html>
