<html>
<head>
<title>Log In</title>
<script type="text/javascript" src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js" ></script>
<script>
$(document).ready(function(){
  $('#login_submit').click(function(){
    $('#login_status').html("");
    $.ajax({
      url:'/login/do/',
      type:"POST",
      data:{email:$("#email").val(),password:$("#password").val()},
        dataType:"json"
    }).done(function(msg){
      $('#show').text(msg.result).show();
    }).fail(function(jqXHR,textStatus){
      $('#show').html('request failed '+textStatus);
    });
  });
  $('#logout_button').click(function(){
    $.ajax({
      url:'/login/logout/',
      type:"GET",
      data:{},
        dataType:"json"
    }).done(function(msg){
      $('#show').text(msg.result).show();
    }).fail(function(jqXHR,textStatus){
      $('#show').html('request failed '+textStatus);
    });
  });
    $.ajax({
      url:'/login/test/',
      type:"GET",
      data:{},
        dataType:"json"
    }).done(function(msg){
      $('#login_status').text(msg.result).show();
    }).fail(function(jqXHR,textStatus){
      $('#login_status').html('request failed '+textStatus);
    });
});
</script>
<script>
$(document).ajaxSend(function(event, xhr, settings) {  
    function getCookie(name) {  
        var cookieValue = null;  
        if (document.cookie && document.cookie != '') {  
            var cookies = document.cookie.split(';');  
            for (var i = 0; i < cookies.length; i++) {  
                var cookie = jQuery.trim(cookies[i]);  
                // Does this cookie string begin with the name we want?  
                if (cookie.substring(0, name.length + 1) == (name + '=')) {  
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));  
                    break;  
                }  
            }  
        }  
        return cookieValue;  
    }  
    function sameOrigin(url) {  
        // url could be relative or scheme relative or absolute  
        var host = document.location.host; // host + port  
        var protocol = document.location.protocol;  
        var sr_origin = '//' + host;  
        var origin = protocol + sr_origin;  
        // Allow absolute or scheme relative URLs to same origin  
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||  
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||  
            // or any other URL that isn't scheme relative or absolute i.e relative.  
            !(/^(\/\/|http:|https:).*/.test(url));  
    }  
    function safeMethod(method) {  
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));  
    }  
  
    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {  
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));  
    }  
});
</script>
</head>
<body>
  <p>登录</p>
    {% csrf_token %}
    <div>
        <span>邮箱</span><input type="text" id="email" /><br/>
        <span>密码</span><input type="password" id="password" /><br/>
        <button type="button" id="login_submit">登录</button>
        <button type="button" id="logout_button">登出</button>
    </div>
    <label id="login_status"></label>
    <label id="show"></label>
</body>
</html>
