    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <p>注册</p>
         </div>
         <div class="modal-body">
			<form class="form-horizontal" role="form">
                {% csrf_token %}
                <div class="form-group">
                    <label id="show2" class="col-sm-6 control-label"></label>
                </div>
				<div class="form-group">
					<label for="signin-email" class="col-sm-offset-1 col-sm-2 control-label">邮箱</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="signin-email" placeholder="请输入邮箱">
					</div>
				</div>
				<div class="form-group">
					<label for="signin-nickname" class="col-sm-offset-1 col-sm-2 control-label">昵称</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="signin-nickname" placeholder="请输入昵称">
					</div>
				</div>
                <div class="form-group">
                    <label for="signin-password" class="col-sm-offset-1 col-sm-2 control-label">密码</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="signin-password" placeholder="请输入密码">
					</div>
				</div>
                <div class="form-group">
                    <label for="signin-password2" class="col-sm-offset-1 col-sm-2 control-label">确认密码</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="signin-password2" placeholder="请再次输入密码">
					</div>
				</div>
			</form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="signin_submit">注册</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div>