body {
	background-color: #eeecf4;
	font-family: "微软雅黑";
}

.navbar-nav li a { 
	font-weight: bold;
}

.navbar-inverse .navbar-form .btn { 
	color:#fff;
	background-color: #5c307d;
}

.btn.disabled { 
	background-color: inherit;
	color: #999;
}