{% extends "base-player.html" %}
{% block title %}player - 清华大学广播站{% endblock %}
{% block header %}
<style>
body { 
	background-color: #eeecf4;
}
#program-audio-player {
	position: fixed;
	bottom:0;
	width:100%;

	background:#eeecf4;
}
#player-viewport li{
	border:0px;
	width: 100%;
}
#player-viewport .active{
	background-color: #875f9a;
}
#player-viewport::-webkit-scrollbar {
	border:0px;
	width:10px;
	background: white;
}
#player-viewport::-webkit-scrollbar-thumb { 
	background: #875f9a;
	border-radius: 5px;
}
#slider { 
	background-color: white;
}
#volume-slider {
	width: 80%;
	right: 0;
	background-color: white;
	height: 5px;
}
#volume-slider .ui-slider-handle { 
	width: 10px;
	height: 10px;
}
.progress { 
	background: #fff;
}
</style>
<script>
var audio;
window.onload = function() { 
	audio = document.getElementById('audio');
}
</script>
{% endblock%}
{% block body %}

<audio src="{{ medialink }}" id="audio"></audio>

<div id="program-audio-player">
	<div class="col-md-2">
		<span class="btn glyphicon glyphicon-backward" id="player-backward"></span>
		<span class="btn glyphicon glyphicon-play" id="player-play"></span>
		<span class="btn glyphicon glyphicon-stop" id="player-stop"></span>
		<span class="btn glyphicon glyphicon-forward" id="player-forward"></span>
	</div>
	<div class="col-md-7" style="margin-top:15px">
		<div id="slider">
		</div>
	</div>
	<div class="col-md-1" style="margin-top:5px">
	<p><small>00:00/00:00</small></p>
	</div>
	<div class="col-md-2">
		<span class="btn glyphicon glyphicon-repeat" id="player-repeat" style="width:20%; float:left;color:#fff;"></span>
		<span class="btn glyphicon glyphicon-volume-up" style="width:20%; float:left;"></span>
		<div style="width:60%;float:right;margin-top:18px">
			<div id="volume-slider"></div>
		</div>
	</div>
	
</div>

<div id="wrap">
	<div class="col-md-2" id="player-sidebar">
		<div class="bs-docs-sidebar affix-top" role="complementary">
        	<ul class="nav bs-docs-sidenav">
            	<li>
            		<a href="#player-music-list"><span class="glyphicon glyphicon-list"></span> 播放列表</a>

            		<ul class="nav">
            		</ul>
            	</li>
            	<li>
            		<a href="#player-favorites-list"><span class="glyphicon glyphicon-heart" style="color:red;"></span> 我的收藏</a>
            	</li>
            </ul>
        </div>
	</div>
	<div class="col-md-7">
		<ul id="player-viewport" class="list-group" style="overflow:auto; position:fixed;">
			<script>
			for (i = 0; i < 50; i ++)
				document.write("<li class=\"list-group-item\">test</li>");
			</script>
		</ul>
	</div>

	<div class="col-md-3" id="player-description" style="position:relative;float:right;">
		<div>
        	description
        </div>
	</div>
	
	
</div>

{% endblock %}

{% block script %}
<script>
var audio;
var player_play = $('#player-play');
var player_stop = $('#player-stop');
var player_repeat = $('#player-repeat');
var $slider = $("#slider");
var $vslider = $("#volume-slider");
$(document).ready(function() { 
	$('#player-viewport').css('top', document.getElementById('navigation-navbar').scrollHeight + 10);
	$('#player-viewport').css('bottom', document.getElementById('program-audio-player').scrollHeight + 10);
	$('#player-viewport').css('left', document.getElementById('player-sidebar').scrollWidth + 10);
	$('#player-viewport').css('right', document.getElementById('player-description').scrollWidth + 10);
});
$(document).ready(function() { 
	player_play.mousedown(function() { 
		if (audio.paused) { 
			$(this).removeClass("glyphicon-play");
			$(this).addClass("glyphicon-pause");
			audio.play();
		} else {
			$(this).removeClass("glyphicon-pause");
			$(this).addClass("glyphicon-play");
			audio.pause();
		}
	});
	player_stop.mousedown(function() { 
		audio.load();

		player_play.removeClass("glyphicon-pause");
		player_play.addClass("glyphicon-play");
	});
	player_repeat.mousedown(function() {
		if (player_repeat.css("color") == "rgb(255, 255, 255)") { 
			player_repeat.css("color", "#5c307d");
			audio.loop = true;

		} else { 
			player_repeat.css("color", "#fff");
			audio.loop = false;
		}
		
	});
});
$(window).load(function() { 
	audio = document.getElementById('audio');
});

if ($slider.length > 0) {
  $slider.slider({
    min: 0,
    max: 1000,
    value: 50 ,
    orientation: "horizontal",
    range: "min"
  });
}

if ($vslider.length > 0) {
  $vslider.slider({
    min: 0,
    max: 100,
    value: 50 ,
    orientation: "horizontal",
    range: "min"
  });
}

$(window).resize(function() { 
	$('#player-viewport').css('top', document.getElementById('navigation-navbar').scrollHeight + 10);
	$('#player-viewport').css('bottom', document.getElementById('program-audio-player').scrollHeight + 10);
	$('#player-viewport').css('left', document.getElementById('player-sidebar').scrollWidth + 10);
	$('#player-viewport').css('right', document.getElementById('player-description').scrollWidth + 10);
});
</script>
{% endblock %}