{% extends "base.html" %}
{% block title %}Hello world! - 清华大学广播站{% endblock %}
{% block body %}
<div class="col-md-2"></div>
<div class="panel panel-default col-md-8">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-9"><h1>Hello, world!</h1></div>

      <div style="float:right">
        <br/>
        <a class="btn btn-primary btn-lg" href="#" role="button">播放</a>
        <a class="btn btn-primary btn-lg" href="#" role="button">下载</a>
      </div>
    </div>
    <p><big><strong>此</strong></big>文按海面景象的发展变化分成三部分，描绘了海燕面临狂风暴雨和波涛翻腾的大海时的壮丽图画。在这篇文章中，作者通过对海燕在暴风雨来临之际勇敢欢乐的形象的描写，深刻反映了1905年俄国革命前夕急剧发展的革命形势</p>
  </div>

  <table class="table table-striped table-hover">
    <tr>
      <td>播音人员</td>
      <td>这里填录音/播音人员名单</td>
    </tr>
    <tr>
      <td>稿件来源</td>
      <td>这里填稿件来源</td>
    </tr>
    <tr>
      <td>机务人员</td>
      <td>这里填机务人员名单</td>
    </tr>
  </table>
  <hr/>
  <div class="row">
    <img src="/static/images/1.jpg" class="img-rounded img-responsive center-block" />
  </div>
  <br/>
</div>
{% endblock %}