{% extends "base.html" %}
{% block title %}{{ title }} - 清华大学广播站{% endblock %}
{% block header %}
<link href="/static/css/program.css" rel="stylesheet" />
{% endblock%}
{% block body %}
<div class="container">
	<hr class="featurette-divider" />
	<div class="row featurette">
		<div class="col-md-8">
		  <div id="program-description">
		      <h4 class="featurette-heading">{{ title }}</h4>
		      <p><big><strong>{{ strong }}</strong></big>{{ description }}</p>
	      	  <br />
		      <div class="row" >
		        <div>
			        {% if medialink %}
			        <a class="btn btn-sm" title="播放" onclick="play()" role="button"><span class="glyphicon glyphicon-play"></span></a>
					{% if logined %}
			        <a class="btn btn-sm" title="下载" href="{{ medialink }}" target="_blank" role="button"><span class="glyphicon glyphicon-save"></span></a>
					{% else %}
			        <a class="btn btn-sm disabled" role="button"><span class="glyphicon glyphicon-save"></span></a>
					{% endif %}
			        {% else %}
			        <a class="btn btn-sm disabled" title="播放" role="button"><span class="glyphicon glyphicon-play"></span></a>
			        <a class="btn btn-sm disabled"  title="下载" role="button"><span class="glyphicon glyphicon-save"></span></a>
			        {% endif %}

					{% if logined %}
		      		{% if have_praised %}
			      	<a class="btn btn-sm" id="program-praise" title="点赞" role="button" style="color:red" praised="true"><span id="program-praise-count" class="glyphicon glyphicon-thumbs-up">{{ praise_count}}</span></a>
			      	{% else %}
			      	<a class="btn btn-sm" id="program-praise" title="点赞" role="button" praised="false"><span id="program-praise-count" class="glyphicon glyphicon-thumbs-up">{{praise_count}}</span></a>
			      	{% endif %}

					{% if have_favorited %}
			      	<a class="btn btn-sm" id="program-favorite" title="收藏" role="button" style="color:red" favorited="true"><span id="program-favorite-count" class="glyphicon glyphicon-heart">{{ favorite_count}}</span></a>
			      	{% else %}
			      	<a class="btn btn-sm" id="program-favorite" title="收藏" role="button" favorited="false"><span id="program-favorite-count" class="glyphicon glyphicon-heart">{{favorite_count}}</span></a>
			      	{% endif %}
					
					{% else %}
					<a class="btn btn-sm disabled" id="program-praise" title="登录后可以点赞" role="button"><span id="program-praise-count" class="glyphicon glyphicon-thumbs-up">{{ praise_count}}</span></a>
			      	<a class="btn btn-sm disabled" id="program-favorite" title="登录后可以收藏" role="button"><span id="program-favorite-count" class="glyphicon glyphicon-heart">{{ favorite_count }}</span></a>
			      	{% endif %}
			        <a class="btn btn-sm" title="评论" href="#program-comment" role="button"><span class="glyphicon glyphicon-comment"></span></a>
			        <!--a class="btn btn-sm" role="button" data-toggle="modal" data-target="#program-favorite-modal"><span class="glyphicon glyphicon-heart"></span></a-->
			        <a class="btn btn-sm" title="分享" role="button" data-toggle="modal" data-target="#program-share-modal"><span class="glyphicon glyphicon-share"></span></a>
		        </div>
		      </div>
	      </div>
	    </div>
	    <div class="col-md-4">
	      <div class="row">
	          <br />
	          <div id="img-div" style="float:right">
		          {% for src in piclink %}
				  <div class="row">
				    <img src="{{ src }}" class="img-responsive center-block" style="width:100%" />
				  </div>
				  {% endfor %}
			  </div>
	      </div>
	    </div>
	</div>
	<hr class="featurette-divider" />
	<div class="row featurette">
		<div class="">
			<div class="">
				<h6>详细信息</h6>
			</div>
			<table class="table table-hover">
		    {% for a in table %}
		    <tr>
		      <td>{{ a.0 }}</td>
		      <td>{{ a.1 }}</td>
		    </tr>
		    {% endfor %}
		    {% for d in doc_links %}
		    <tr>
		      <td>{{ d.0 }}</td>
		      <td><a href="{{ d.1 }}" target="_blank">{{ d.2 }}</a></td>
		    </tr>
		    {% endfor %}
			</table>
		</div>
	</div>
	<hr class="featurette-divider" />
	<div class="row featurette" id="program-comment">
		<div class="">
			<div class="">
				<h6>评论</h6>
			</div>
			{% if logined %}
			<div id="program-add-comment-div">
				<div id="program-add-comment-text">
					<textarea wrap="hard" cols="80" maxlength="256" rows="4"></textarea>
				</div>
				<br />
				<div id="program-add-comment-button">
					<button class="btn btn-sm btn-primary" id="program-add-comment">发表评论</button>
				</div>
			</div>
			<hr />
			<!-- Todo: 将评论内容以GET或POST方式发送到program/comment/add/，参数（键）为comment、pid -->
			{% endif %}
			<table class="table table-hover">
			{% for cm in comments %}
				<tr>
					<td>
					<div>
						<a class="program-comment-user">{{ cm.user.nickname }}</a> 评论
					</div>
					<br />
					<div>
						{{ cm.content }}
					</div>
					<br />
					<div>
						<div style="float:right;">
						{% if logined %}
						<a onclick="add_reply_to({{ cm.id }}, '{{ cm.user.nickname|addslashes }}');" href="#program-add-comment-div">回复</a>
						</div>
					</div>
					<br />
					<hr />
					</td>
					{% endif %}
				</tr><!-- Todo: 确定评论的显示样式 -->

			{% endfor %}
			</table>
			
		</div>
	</div>
</div>

<div class="modal fade" id="program-share-modal" tabindex="-1" role="dialog" aria-labelledby="program-share-modal-label" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
		      &times;
		</button>
		<h4 class="modal-title" id="program-share-modal-label">
		   分享到
		</h4>
		<div id="program-share-status">
		</div>
		</div>
		<div class="modal-body">
			<div class="bdsharebuttonbox" data-tag="share_1">
				<a class="bds_mshare" data-cmd="mshare"></a>
				<a class="bds_qzone" data-cmd="qzone" href="#"></a>
				<a class="bds_tsina" data-cmd="tsina"></a>
				<a class="bds_baidu" data-cmd="baidu"></a>
				<a class="bds_renren" data-cmd="renren"></a>
				<a class="bds_tqq" data-cmd="tqq"></a>
				<a class="bds_more" data-cmd="more">更多</a>
				<a class="bds_count" data-cmd="count"></a>
			</div>
			<script>
				window._bd_share_config = {
					common : {
						bdText : '{{ title }}',	
						bdDesc : '{{ strong }}{{ description }}',	
						bdUrl : window.location.href, 	
						bdPic : ''
					},
					share : [{
						"bdSize" : 32
					}],
					slide : [{	   
						bdImg : 3,
						bdPos : "right",
						bdTop : 100
					}],
					selectShare : [{
						"bdselectMiniList" : ['qzone','tqq','kaixin001','bdxc','tqf']
					}]
				}
				with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
			</script>
        </div>
      </div><!-- /.modal-content -->
    </div>
</div><!-- /.modal -->
  
<div class="modal fade" id="program-favorite-modal" tabindex="-1" role="dialog" aria-labelledby="program-favorite-modal-label" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
		      &times;
		</button>
		<h4 class="modal-title" id="program-share-modal-label">
		   添加到收藏
		</h4>
		<div id="program-favorite-status">
		</div>
		</div>
		<div class="modal-body">
			<p>将本文 <strong><i>{{ title }}</i></strong> 添加到我的收藏？</p>
        </div>
        <div class="modal-footer">
			<button type="button" class="btn btn-sm">
              	确认
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div><!-- /.modal-content -->
    </div>
</div><!-- /.modal -->
{% endblock %}

{% block script %}
<script>
var imglength;
var imgdis=0;
$(document).ready(function() {
    var y=document.getElementById("img-div");
    var imglist=$(y).children("div");
    imglength=imglist.length;
    for (var i=0; i<imglength; i++) {
        if (i!=(imglength-1)) {
            var a=document.createElement("a");
            a.setAttribute("class", "fui-arrow-right");
            a.setAttribute("onclick", "nextPic(this)");
            a.setAttribute("style", "float:right");
            imglist[i].appendChild(a);
        }
        if (i!=0) {
            var a=document.createElement("a");
            a.setAttribute("class", "fui-arrow-left");
            a.setAttribute("onclick", "prevPic(this)");
            imglist[i].appendChild(a);
        }
        if (i==imgdis) {
            imglist[i].style.display="";
        }
        else {
            imglist[i].style.display="none";
        }
    }
});
function play() {
    var program = new Object();
    var d = new Date();
    program.time = d.getTime();
    program.id = {{ pgid }};
    program.url = "{{ medialink }}";
    program.description = "{{ description }}";
    program.title = "{{ title }}";
	program.thumbnail = "{{ piclink.0 }}";
    program.play = 1;
    program.location = "top";
    localStorage.toPlayer = JSON.stringify(program);
    if(localStorage.hasPlayer != 1) {
        window.open("/program/play/", "_blank");
    }
}
function nextPic(x) {
    imgdis=imgdis+1;
    var y=document.getElementById("img-div");
    var imglist=$(y).children("div");
    for (var i=0; i<imglength; i++) {
        if (i==imgdis) {
            imglist[i].style.display="";
        } else {
            imglist[i].style.display="none";
        }
    }
}
function prevPic(x) {
    imgdis=imgdis-1;
    var y=document.getElementById("img-div");
    var imglist=$(y).children("div");
    for (var i=0; i<imglength; i++) {
        if (i==imgdis) {
            imglist[i].style.display="";
        } else {
            imglist[i].style.display="none";
        }
    }
}
$('#program-praise').click(function() {
	var praise_button = $('#program-praise');
	if (praise_button.attr("praised") == "true") { 
		$.ajax({
	        url:'/program/unpraise/',
	        type:"POST",
	        data:{pid: {{ pgid }} },
	        dataType:"json"
	    }).done(function(msg){
	        if (msg.success) {
	        	praise_button.css("color", "#fff");
	        	praise_button.attr("praised", "false");
	        	$('#program-praise-count').html(msg.count);
	        }
	    }).fail(function(jqXHR,textStatus){
	        $('#change-info-status').html('与服务器连接中断');
	    });
    } else { 
    	$.ajax({
	        url:'/program/praise/',
	        type:"POST",
	        data:{pid: {{ pgid }} },
	        dataType:"json"
	    }).done(function(msg){
	        if (msg.success) {
	        	praise_button.css("color", "#f00");
	        	praise_button.attr("praised", "true");
	        	$('#program-praise-count').html(msg.count);
	        }
	    }).fail(function(jqXHR,textStatus){
	        $('#change-info-status').html('与服务器连接中断');
	    });
    }
});
$('#program-favorite').click(function() {
	var favorite_button = $('#program-favorite');
	if (favorite_button.attr("favorited") == "true") { 
		$.ajax({
	        url:'/program/unfavorite/',
	        type:"POST",
	        data:{pid: {{ pgid }} },
	        dataType:"json"
	    }).done(function(msg){
	        if (msg.success) {
	        	favorite_button.css("color", "#fff");
	        	favorite_button.attr("favorited", "false");
	        	$('#program-favorite-count').html(msg.count);
	        }
	    }).fail(function(jqXHR,textStatus){
	        $('#change-info-status').html('与服务器连接中断');
	    });
    } else { 
    	$.ajax({
	        url:'/program/favorite/',
	        type:"POST",
	        data:{pid: {{ pgid }} },
	        dataType:"json"
	    }).done(function(msg){
	        if (msg.success) {
	        	favorite_button.css("color", "#f00");
	        	favorite_button.attr("favorited", "true");
	        	$('#program-favorite-count').html(msg.count);
	        }
	    }).fail(function(jqXHR,textStatus){
	        $('#change-info-status').html('与服务器连接中断');
	    });
    }
});
function add_reply_to(uid, nickname) {
	$('#program-add-comment-div textarea').val('回复 ' + nickname + ': ' + $('#program-add-comment-div textarea').val());
}
$('#program-add-comment').click(function() {
	$.ajax({
		url:'/program/comment/add/',
		type:"POST",
		data:{pid: {{ pgid }}, comment: $('#program-add-comment-div textarea').val() },
		dataType:"json"
	}).done(function(msg){
		if (msg.success)
			location.reload();
		else
			alert(msg.info);
	}).fail(function(jqXHR,textStatus){
		alert('与服务器连接中断');
	});
});
</script>
{% endblock %}
