{% extends "base.html" %}
{% block title %}
我的上传
{% endblock %}

{% block body %}
{% if request.session.uid %}
<!-- main content -->
{% ifequal request.session.user_power 'user' %}
{% include 'error/forbid-not-worker.html' %}
{% else %}
<div class="container">
	<div class="row">
		<hr />
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>我的上传</h4>
			</div>
			<table class="panel-body table table-bordered table-striped table-hover">
				<div>
					<div class="col-md-3">
					</div>
					<div class="col-md-9">
						<ul id="page-list" class="pagination-plain" style="float:right"><li class="previous"><a class="fui-arrow-left" onclick="prePage(this)"></a></li><li><a onclick="selectPage(this)">1</a></li><li><a onclick="selectPage(this)">2</a></li><li class="previous"><a class="fui-arrow-right" onclick="nextPage(this)"></a></li></ul>
					</div>
				</div>
				{% for pg in groups %}
					<thead>
					<tr>
					<th>节目名称</th>
					<th>简介</th>
					<th>组别-系列</th>
					<th>人员名单</th>
					<th>稿件来源</th>
					<th>机务人员</th>
					</tr>
					</thead>
					<tr>
					<td>{{ pg.title }}</td>
					<td>{{ pg.description }}</td>
					<td>{{ pg.group.title }}-{{ pg.group.series}}</td>
					<td>{{ pg.recorder }}</td>
					<td>{{ pg.contributor }}</td>
					<td>{{ pg.workers }}</td>
					</tr>
				{% endfor %}		
			</table>
		</div>
		{% ifequal request.session.user_power 'worker' %}
		{% else %}
		<hr />
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>所有上传</h4>
			</div>
			<table class="panel-body table table-bordered table-striped table-hover">
				<div>
					<div class="col-md-3">
					</div>
					<div class="col-md-9">
						<ul id="page-list" class="pagination-plain" style="float:right"><li class="previous"><a class="fui-arrow-left" onclick="prePage(this)"></a></li><li><a onclick="selectPage(this)">1</a></li><li><a onclick="selectPage(this)">2</a></li><li class="previous"><a class="fui-arrow-right" onclick="nextPage(this)"></a></li></ul>
					</div>
				</div>
				{% for pg in groups %}
					<thead>
					<tr>
					<th>节目名称</th>
					<th>简介</th>
					<th>组别-系列</th>
					<th>人员名单</th>
					<th>稿件来源</th>
					<th>机务人员</th>
					</tr>
					</thead>
					<tr>
					<td>{{ pg.title }}</td>
					<td>{{ pg.description }}</td>
					<td>{{ pg.group.title }}-{{ pg.group.series}}</td>
					<td>{{ pg.recorder }}</td>
					<td>{{ pg.contributor }}</td>
					<td>{{ pg.workers }}</td>
					</tr>
				{% endfor %}		
			</table>
		</div>
		{% endifequal %}
	</div>
</div>
{% endifequal %}
{% else %}
{% include "error/forbid-not-user.html"%}
{% endif %}
{% endblock %}

{% block script %}
{% endblock %}