{% extends "base.html" %}
{% block title %}
我的上传
{% endblock %}

{% block body %}
<!-- main content -->
<div class="container">
	<div class="row">
		<hr />
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>我的上传</h4>
			</div>
			<table class="panel-body table table-bordered table-striped table-hover">
				<div>
					<div class="col-md-3">
					</div>
					<div class="col-md-9">
						<ul id="page-list" class="pagination-plain" style="float:right"><li class="previous"><a class="fui-arrow-left" onclick="prePage(this)"></a></li><li><a onclick="selectPage(this)">1</a></li><li><a onclick="selectPage(this)">2</a></li><li class="previous"><a class="fui-arrow-right" onclick="nextPage(this)"></a></li></ul>
					</div>
				</div>
				<script>
				for (i = 0; i < 10; i ++) {
					document.write("<tr><td>节目" + i + "</td><td>简介" + i + "</td></tr>");
				}
				</script>
				
			</table>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
{% endblock %}