{% extends "base.html" %}
{% block title %}
用户管理
{% endblock %}

{% block body %}
<!-- main content -->
<div class="container">
	<div class="row">
		<hr />
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>用户管理</h4>
				<form style="float:right">
					<span>邮箱</span>
					<input type="text" />
					<button>搜索</button>
				</form>
			</div>
			{% load pagination_tags %}
			{% autopaginate obj_list 2 %}
			<table class="panel-body table table-bordered table-striped table-hover">
				<div>
			{% paginate %}
					<!--div class="col-md-3">
					</div>
					<div class="col-md-9">
						<ul id="page-list" class="pagination-plain" style="float:right"><li class="previous"><a class="fui-arrow-left" onclick="prePage(this)"></a></li><li><a onclick="selectPage(this)">1</a></li><li><a onclick="selectPage(this)">2</a></li><li class="previous"><a class="fui-arrow-right" onclick="nextPage(this)"></a></li></ul>
					</div-->
				</div>
			{% for obj in obj_list %}
				<tr>
					<td>{{ obj.id }}</td>
					<td>{{ obj.email }}</td>
					<td>{{ obj.nickname }}</td>
					<td>{{ obj.power }}</td>
					<td><button class="btn btn-primary">修改权限</button></td>
				</tr>
			{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}
