{% extends "base.html" %}

{% block title %}
清华大学广播站 - 首页
{% endblock %}

{% block body %}

<!-- main content -->

	<!-- column -->
	<div style="height:100%; width:100%" class="pagination text-center">
		<ul style="height:100%; width:80%">
			<!-- Make dropdown appear above pagination -->
			<li style="height:100%; width:14.2857%"><a href="/resource/type/1" onclick="selectActiveIt(this)" style="height:100%; width:100%">读书</a></li>
			<li style="height:100%; width:14.2857%"><a href="/resource/type/2" onclick="selectActiveIt(this)" style="height:100%; width:100%">时评</a></li>
			<li style="height:100%; width:14.2857%"><a href="/resource/type/3" onclick="selectActiveIt(this)" style="height:100%; width:100%">资讯</a></li>
			<li style="height:100%; width:14.2857%"><a href="/resource/type/4" onclick="selectActiveIt(this)" style="height:100%; width:100%">访谈</a></li>
			<li style="height:100%; width:14.2857%"><a href="/resource/type/5" onclick="selectActiveIt(this)" style="height:100%; width:100%">音乐</a></li>
			<li style="height:100%; width:14.2857%"><a href="/resource/type/6" onclick="selectActiveIt(this)" style="height:100%; width:100%">体育</a></li>
			<li style="height:100%; width:14.2857%"><a href="/resource/type/7" onclick="selectActiveIt(this)" style="height:100%; width:100%">广播剧</a></li>
		</ul>
	</div>
	
	<div id="wrap">
	
	</div>

{% endblock %}

{% block script %}

<script type="text/javascript" src="/static/js/waterflow.js"></script>
{% endblock %}