{% extends "base.html" %}
{% block body %}
  <h1>AJAX test</h1>
  <p>发送到服务器端计算MD5值</p>
  <form id="form" method="post">
    {% csrf_token %}
    <input type="text" id="input" />
  </form>
  <div id="ajaxshow"></div>
{% endblock %}
{% block script %}
<script>
$(document).ready(function(){
  $('#input').keyup(function(){
    $.ajax({
      url:'/ajaxtest/getresult/',
      type:"POST",
      data:{input:$("#input").val()},
        dataType:"html"
    }).done(function(msg){
      $('#ajaxshow').html(msg);
    }).fail(function(jqXHR,textStatus){
      $('#ajaxshow').html('request failed '+textStatus);
    });
  });
});
</script>
{% endblock %}