<hr/>
<footer style="bottom:0;">
<div style="width:100%;background:#eeecf4;">
	<div class="" style="position:relative;left:10%">
		<ul class="list-group">
                     <li class="list-group-item" style="border:0;border-radius:0;background:#eeecf4;">
                         <p><a href="http://www.tsinghua.edu.cn/publish/newthu/newthu_cnt/about/index.html">学校概况</a></p>
                             <a href="http://www.tsinghua.edu.cn/publish/newthu/newthu_cnt/about/about-1.html">校长致辞</a>
                        <a href="http://www.tsinghua.edu.cn/publish/newthu/newthu_cnt/about/about-2.html">学校沿革</a>
                        <a href="http://www.tsinghua.edu.cn/publish/newthu/newthu_cnt/about/about-3.html">历任领导</a>
                        <a href="http://www.tsinghua.edu.cn/publish/newthu/newthu_cnt/about/about-5.html">现任领导</a>
                        <a href="http://www.tsinghua.edu.cn/publish/newthu/newthu_cnt/about/about-4.html">组织机构</a>
                        <a href="http://www.tsinghua.edu.cn/publish/newthu/newthu_cnt/about/about-6.html">统计资料</a>
                        </li>
                        <li class="list-group-item" style="border:0;border-radius:0;background:#eeecf4;">
                         <p><a href="http://www.tsinghua.edu.cn/publish/newthu/newthu_cnt/intothu/index.html">走进清华</a></p>
                           <a href="http://www.tsinghua.edu.cn/publish/newthu/newthu_cnt/intothu/intothu-1.html">校园生活</a>
                           <a href="http://www.tsinghua.edu.cn/publish/newthu/newthu_cnt/intothu/intothu-2.html">校园风光</a>
                           <a href="http://www.tsinghua.edu.cn/publish/newthu/newthu_cnt/intothu/intothu-3.html">实用信息</a>
                        </li>
                    </ul>
	</div>
</div>
<div style="width:100%;background:#875f9a;">
	<div style="position:relative;left:10%;">
	<ul class="list-group" >
	<li class="list-group-item" style="border:0;border-radius:0;background:#875f9a;"><p>电话查号台：010-62793001  地址：北京市海淀区清华大学</p></li>
	<li class="list-group-item" style="border:0;border-radius:0;background:#875f9a;"><p>版权所有 © 清华大学广播站</p></li>
	</ul>
	</div>
</div>
</footer>
<hr />